<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Data Machine Events">
			<directory suffix="Test.php">tests/Unit</directory>
			<directory suffix="Test.php">tests/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
